<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li class="<%= yield :navigation_branches %>">
      <%= link_to "My Branch", branch_path(branch) %>
    </li>
    <li class="<%= yield :navigation_products %>">
      <%= link_to "My Products", branch_branch_products_path(branch) %>
    </li>
    <li class="<%= yield :navigation_employees %>">
      <%= link_to "My Employees", branch_employees_path(branch) %>
    </li>
    <li class="<%= yield :navigation_customers %>">
      <%= link_to "My Customers", branch_customers_path(branch) %>
    </li>
    <li class="<%= yield :navigation_orders %>">
      <%= link_to "My Orders", branch_orders_path(branch) %>
    </li>
    <li class="<%= yield :navigation_synchronization_logs %>">
      <%= link_to "My synchronization logs", branch_synchronization_logs_path(branch) %>
    </li>
  </ul>
</div>
