<tr>
  <td><%= product.id %></td>
  <td><%= product.name %></td>
  <td><%= product.category_name %></td>
  <td><%= product.description_truncate %></td>
  <td><%= product.price %></td>
  <td><%= product.quantity %></td>
</tr>
